<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.decide_o">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfilePage" android:theme="@style/Theme.AppCompat.NoActionBar" ></activity>
        <activity
            android:name=".AllUsers"
            android:label="All Users" />
        <activity
            android:name=".search"
            android:label="Add Friends" />
        <activity
            android:name=".login"
            android:label="Login" />
        <activity
            android:name=".registeration"
            android:label="Create Account" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Decide-O">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>